<form action="/process_login" method="POST">
	Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/>
	<input type="submit" name="" value="Login">
</form>


		<!-- <form action="/process_login" method="post" enctype="multipart/form-data">
          <div>
            <input class="form-control" type="text" name="email" placeholder="email">
          </div>
          <div>
            <input class="form-control" type="password" name="password" placeholder="password">
          </div>

					<div>
						<input class="form-control" type="submit" name="" value="Login">
					</div> -->
          <!-- <button class= "form-control btn btn-primary" type="submit">Login</button> -->
    <!-- </form> -->
