<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="image" img src="https://i.ibb.co/hXjxjQm/4e7840d34c8c1d27b2415aed994fe283-1.jpg" alt="DONT FORGET TO WIPE YOUR FEET"  width=auto height=auto>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
    <div class="w3-quarter">
      <img src="https://i.ibb.co/nbXSb1y/tumblr-pioectpy-SK1th9q47o1-1280.png" alt="I AM BOMBMASTER, MASTER OF BOMBS"  width=auto height="200">
      <h3><I>BOMBMASTER</I></h3>
      <p>MASTER OF BOMBS</p>
    </div>

    <div class="w3-quarter">
      <img src="https://i.ibb.co/nbXSb1y/tumblr-pioectpy-SK1th9q47o1-1280.png" alt="I AM BOMBMASTER, MASTER OF BOMBS"  width=auto height="333">
      <h3><I>BOMBMASTER</I></h3>
      <p>MASTER OF BOMBS</p>
    </div>

    <div class="w3-quarter">
      <img src="https://i.ibb.co/nbXSb1y/tumblr-pioectpy-SK1th9q47o1-1280.png" alt="I AM BOMBMASTER, MASTER OF BOMBS"  width=auto height="333">
      <h3><I>BOMBMASTER</I></h3>
      <p>MASTER OF BOMBS</p>
    </div>
</div>

</div> <!-- /container -->
