<% if @items %>
    <table>
        <%@items.each do |i|%>
        <tr valign="top">
            <td><%=i.id%></td>
            <td><%=i.name%></td>
            <td><%=i.description%></td>
            <td><a href="/item/<%= i.id %>/update" class="btn btn-warning">Update Item</a></td>
        </tr>
        <%end%>
    </table>
<% end %>
