<p>Update Profile</p>

<!-- <h1>edit page</h1>


<form action="/profile/update/:id" method="POST" enctype="multipart/form-data">
	Name: <input type="text" name="name" placeholder="testname" required><br/>
	Description: <input type="text" name="description" placeholder="testdes" required><br/>
	<button type="submit">Update Item</button>
</form> -->





<!-- <form action="register" method="post">
		<div><input class="form-control" type="text" name="first_name" placeholder="first name" required></div>
		<div><input class="form-control" type="text" name="last_name" placeholder="last name" required></div>
		<div> <input class="form-control" type="text" name="email" placeholder="email" required> </div>
		<div><input class="form-control" type="password" name="password" placeholder="password" required></div>
		<button class= "form-control btn btn-primary" type="submit">Sign Up</button>
 </form> -->
